@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

body {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}
.container {
  display: grid;
  grid-template-rows: 1fr 8fr;
}

section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.member {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
  filter: grayscale(50%);
}
h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Black Han Sans", sans-serif;
  border-bottom: 3px dashed gray;
  margin-bottom: 10px;
}
.member * {
  display: inline;
  background-size: cover;
  border: 2px solid black;
  transition: all 1s;
  text-decoration: none;
  text-align: center;
  color: white;
  vertical-align: bottom;
  margin-bottom: 10px;
}
.member *:hover {
  transform: scale(1.2);
  transition: all 1s;
}
#LSJ {
  background-image: url(LSJ.png);
}
#LSY {
  background-image: url(LSY.jpg);
}
#MSJ {
  background-image: url(MSJ.png);
}
#SDS {
  background-image: url(SDS.png);
  background-position: 0px -100px;
}
aside a img {
  width: 100px;
  box-sizing: border-box;
  margin-left: 50px;
}
#github {
  display: block;
}
#notion {
  padding-left: 10px;
}
h2 {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 700px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: small;
  }
  section {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: none;
  }
  #github {
    display: inline;
  }
  #notion {
    object-position: 0px -3px;
  }
}
